# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
.eggs/
dist/
build/

# Tests
.pytest_cache/

# Logs and databases
*.log
*.sqlite3
db.sqlite3

# Virtual environments
.venv/
venv/
env/

# Django media
media/

# VS Code / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore Python compiled and distribution files in site-packages or venv
*.egg
