{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
  <div class="cuadro">
    <div class="inicio ">
      <img src="{% static 'img/areas.png' %}"
        alt="Foto descriptiva" width="300">
      <h1>ENVIO DE EVIDENCIAS </h1>
    </div>
    <br>

    <form action="#" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" class="input-linea" placeholder="Escribe tu nombre" required> <br>
      <br>

      <label for="opcion">proyecto:</label>
      <select id="opcion" name="opcion">
        <option value="">-- Selecciona --</option>
        <option value="opcion1">LEM</option>
        <option value="opcion2">GIVIT</option>
        <option value="opcion3">ACAF</option>
        <option value="opcion4">DEPOS</option>
        <option value="opcion5">IFPI</option>
        <option value="opcion6">TUGA</option>
      </select>
      <br><br>
      <fieldset>
        <legend><strong>Tipo de evidencias:</strong></legend>

        <label>
          <input type="checkbox" name="evidencias" value="planeacion">
          Planeación
        </label><br>

        <label>
          <input type="checkbox" name="evidencias" value="ejecucion">
          Ejecución
        </label><br>

        <label>
          <input type="checkbox" name="evidencias" value="evaluacion">
          Evaluación
        </label><br>

        <label>
          <input type="checkbox" name="evidencias" value="informe_final">
          Informe final
        </label>
      </fieldset>
      <br><br>

      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha" name="fecha">

      <br><br>

      <label for="archivo">Subir archivo:</label>
      <input type="file" id="archivo" name="archivo"><br><br>

      <label for="linkArchivo">Link del archivo:</label>
      <input type="url" id="linkArchivo" name="linkArchivo" placeholder="https://..." style="width: 300px;"><br><br>

      <label for="observaciones">Observaciones:</label><br>
      <textarea id="observaciones" name="observaciones" rows="4" cols="50"
        placeholder="Escribe tus observaciones aquí..."></textarea> <br> <br>

      <input type="submit" value="Enviar">
  <script src="{% static 'js/script.js' %}"></script>
  </div>
  <script src="{% static 'script.js' %}"></script>
</body>

</html>