{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Inicio · GESICOM</title>
    <link href="{% static 'CSS/main.css' %}" rel="stylesheet" />
    <link href="{% static 'CSS/usuario.css' %}" rel="stylesheet" />
</head>

<body>
  <main class="main">
    <div class="usuario-wrap">
      <div class="container">
        <div class="left">
          <h1>Bienvenidos a<br><span>GESICOM</span></h1>
          <p class="main">Centro de Comercio y Servicios</p>
          <p class="sub">Regional Tolima</p>
        </div>
        <div class="right">
          <img src="{% static 'CSS/img/gesicom.jpeg' %}" alt="GESICOM">
        </div>
      </div>
    </div>
  </main>
 </body>
 
 </html>
