<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>

<body>
    <div class="cuadro">
        <img src="{% static 'CSS/img/gesicom.jpeg' %}" alt="Logo Gesicom">

        <div class="botones">
            <a href="{% url 'inicio' %}"><button type="button">inicio</button></a>
            <a href="{% url 'evidencia' %}"><button type="button">evidencia</button></a>
            <a href="{% url 'perfil' %}"><button type="button">perfil</button></a>
            <a href="{% url 'logout' %}"><button type="button">cerrar sesion</button></a>
        </div>

        <div class="imagenes">
            <img src="{% static 'CSS/img/enviar evidencia.jpeg' %}" alt="Enviar evidencia">
            <img src="{% static 'CSS/img/editar.jpeg' %}" alt="Editar">
            <img src="{% static 'CSS/img/estado.jpeg' %}" alt="Estado">
        </div>
    </div>
</body>

</html>