body{
font-family: Arial;
background:#f2f2f2;
margin:0;
padding:0;
display:flex;
justify-content:center;
}

.contenedor{
width:900px;
background:white;
border:10px solid #3aa655;
border-radius:10px;
padding:20px;
margin-top:40px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.logo{
width:150px;
}

nav a{
margin-left:15px;
text-decoration:none;
color:#333;
font-weight:bold;
}

.filtros{
margin-bottom:20px;
}

.filtros label{
margin-right:10px;
font-weight:bold;
}

select{
padding:5px;
margin-right:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#4fa35a;
color:white;
padding:10px;
border:2px solid #3a8a4c;
}

td{
padding:10px;
border:2px solid #3a8a4c;
text-align:center;
}

.revisado{
color:white;
background:#2ecc71;
font-weight:bold;
}

.revision{
color:white;
background:#f39c12;
font-weight:bold;
}